<div>
    <table class="table table-hover">
        <tbody>
        <tr *ngFor="let todo of todos">
            <td class="left">{{ todo.name | titlecase}}</td>
            <td class="right">
                <button class="btn btn-outline-warning btn-sm space">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button class="btn btn-outline-danger btn-sm">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>